@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  padding: 0px !important;
  margin: 0px;
  box-sizing: border-box;
}
.col-sm-8 {
  position: relative !important;
}
.img-back {
  width: 100%;
}
.img-logo {
  flex: 1;
  /* position: absolute; */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.img-layer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
}
.text-note {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 400 !important;
  color: white;
  /* position: absolute; */
  bottom: 410px;
  left: 250px;
  flex: 1;
}
.sign {
  font-family: "Inter", sans-serif;
  font-weight: 600 !important;
  font-size: 48px;
  margin-top: 120px;
}
.note-sign {
  font-family: "Inter", sans-serif;
  font-weight: 400 !important;
  font-size: 18px;
  color: #aaaaaa;
}
.form-label {
  font-family: "Mulish", sans-serif;
  font-weight: 400 !important;
  font-size: 16px;
}
#pass {
  font-family: "Mulish", sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  color: #a0a3bd !important;
  border-radius: 10px;
  padding: 15px !important;
  margin-bottom: 48px;
}
#email {
  font-family: "Mulish", sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  color: #a0a3bd !important;
  border-radius: 10px;
  padding: 15px !important;
}
.flex-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 400px;
  left: 120px;
}
.btn-sign {
  font-family: "Mulish", sans-serif;
  font-weight: 700 !important;
  font-size: 16px;
  width: 100%;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  border-radius: 15px !important;
  background-color: #5f2eea !important;
  border-color: #5f2eea !important;
  margin-bottom: 32px;
}
.forgot {
  font-family: "Inter", sans-serif;
  font-weight: 500 !important;
  font-size: 16px;
  color: #8692a6;
  text-align: center;
  margin-bottom: 40px;
}
.reset {
  font-family: "Inter", sans-serif;
  font-weight: 500 !important;
  font-size: 16px !important;
  color: #5f2eea;
}
.or {
  font-family: "Inter", sans-serif;
  font-weight: 400 !important;
  font-size: 12px;
  color: #aaaaaa;
  text-align: center;
  margin-bottom: 69px;
}
.ggl {
  padding: 18px 35px 18px 15px !important;
  border-radius: 15px !important;
  color: #a0a3bd !important;
  font-family: "Mulish", sans-serif;
  font-weight: 600 !important;
  font-size: 16px;
}
.fcbk {
  padding: 18px 35px 18px 15px !important;
  border-radius: 15px !important;
  color: #a0a3bd !important;
  font-family: "Mulish", sans-serif;
  font-weight: 600 !important;
  font-size: 16px;
}
.ggl::before {
  content: url("/img/search.png");
  padding-top: 12px !important;
  margin-right: 12px;
}
.fcbk::before {
  content: url("/img/Vector.png");
  padding-top: 12px !important;
  margin-right: 12px;
}
.box-all {
  margin: 25px;
}
form {
  margin-top: 60px;
}
